[tool.poetry]
name = "tum_esm_utils"
version = "1.3.0"
description = "Python utilities by the Professorship of Environmental Sensing and Modeling at the Technical University of Munich"
authors = ["Moritz Makowski <moritz.makowski@tum.de>"]
readme = "README.md"
packages = [
    {include = "tum_esm_utils"},
    {include = "tum_esm_utils/py.typed"}
]
keywords = [
    "python",
    "library",
    "utilities",
    "lazydocs",
    "docsify"
]
license = "AGPL-3.0-only"
documentation = "https://tum-esm.github.io/utils"
repository = "https://github.com/tum-esm/utils"

[tool.poetry.dependencies]
python = "^3.9"
filelock = "^3.10.0"
requests = "^2.28.2"
psutil = "^5.9.4"
pendulum = "^2.1.2"

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
black = "^23.1.0"
pytest = "^7.2.2"
mypy = "^1.1.1"
types-psutil = "^5.9.5.10"
types-requests = "^2.28.11.15"
pytest-ordering = "^0.6"
pydocstyle = "^6.3.0"
lazydocs = "^0.4.8"


[tool.pytest.ini_options]
filterwarnings = [
    "ignore::pytest.PytestUnhandledThreadExceptionWarning"
]
markers = [
    "last: provided by the `pytest-ordering` library"
]

[tool.mypy]
strict = true
implicit_reexport = true
no_warn_unused_ignores = true

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
