[tool.poetry]
name = "tum_esm_utils"
version = "1.6.4"
description = "Python utilities by the Professorship of Environmental Sensing and Modeling at the Technical University of Munich"
authors = ["Moritz Makowski <moritz.makowski@tum.de>"]
readme = "README.md"
packages = [
    { include = "tum_esm_utils" },
    { include = "tum_esm_utils/py.typed" },
]
keywords = ["python", "library", "utilities", "lazydocs", "docsify"]
license = "AGPL-3.0-only"
documentation = "https://tum-esm-utils.netlify.app"
repository = "https://github.com/tum-esm/utils"

[tool.poetry.dependencies]
python = "^3.8"
filelock = "^3.12.4"
requests = "^2.31.0"
psutil = "^5.9.4"
polars = "^0.19.5"

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
pytest = "^7.2.2"
types-psutil = "^5.9.5.10"
types-requests = "^2.28.11.15"
pydocstyle = "^6.3.0"
yapf = "^0.40.2"
mypy = "^1.5.1"
pydoc-markdown = "^4.8.2"
setuptools = "^68.2.2"

[tool.pytest.ini_options]
filterwarnings = ["ignore::pytest.PytestUnhandledThreadExceptionWarning"]

[tool.mypy]
strict = true
implicit_reexport = true
no_warn_unused_ignores = true

[tool.yapf]
based_on_style = "facebook"
coalesce_brackets = true
split_before_dict_set_generator = true
each_dict_entry_on_separate_line = false
spaces_around_subscript_colon = true

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
